In this demo, we demonstrate how ptype can be used. The tasks are as follows:

- to run ptype on a data frame, and print a summary of the results. 
- to show possible interactions ptype offers to its users, when a change on the predictions is necessary.

In [1]:
# Preamble to run notebook in context of source package.
import sys
sys.path.insert(0, '../')
!{sys.executable} -m pip install -r ../requirements.txt

Requirement already satisfied: clevercsv in /opt/anaconda3/lib/python3.7/site-packages (from -r ../requirements.txt (line 2)) (0.5.5)
Requirement already satisfied: greenery in /opt/anaconda3/lib/python3.7/site-packages (from -r ../requirements.txt (line 3)) (3.1)
Requirement already satisfied: matplotlib in /opt/anaconda3/lib/python3.7/site-packages (from -r ../requirements.txt (line 4)) (3.1.3)
Requirement already satisfied: numpy in /opt/anaconda3/lib/python3.7/site-packages (from -r ../requirements.txt (line 5)) (1.18.1)
Requirement already satisfied: pandas in /opt/anaconda3/lib/python3.7/site-packages (from -r ../requirements.txt (line 6)) (1.0.1)
Requirement already satisfied: scipy in /opt/anaconda3/lib/python3.7/site-packages (from -r ../requirements.txt (line 7)) (1.4.1)
Requirement already satisfied: scikit-learn in /opt/anaconda3/lib/python3.7/site-packages (from -r ../requirements.txt (line 8)) (0.22.1)
Requirement already satisfied: wheel in /opt/anaconda3/lib/python3.7/site-packages (from -r ../requirements.txt (line 9)) (0.34.2)
Requirement already satisfied: chardet>=3.0 in /opt/anaconda3/lib/python3.7/site-packages (from clevercsv->-r ../requirements.txt (line 2)) (3.0.4)
Requirement already satisfied: cleo==0.7.6 in /opt/anaconda3/lib/python3.7/site-packages (from clevercsv->-r ../requirements.txt (line 2)) (0.7.6)
Requirement already satisfied: regex>=2018.11 in /opt/anaconda3/lib/python3.7/site-packages (from clevercsv->-r ../requirements.txt (line 2)) (2020.4.4)
Requirement already satisfied: tabview>=1.4 in /opt/anaconda3/lib/python3.7/site-packages (from clevercsv->-r ../requirements.txt (line 2)) (1.4.4)
Requirement already satisfied: clikit==0.4.0 in /opt/anaconda3/lib/python3.7/site-packages (from clevercsv->-r ../requirements.txt (line 2)) (0.4.0)
Requirement already satisfied: cycler>=0.10 in /opt/anaconda3/lib/python3.7/site-packages (from matplotlib->-r ../requirements.txt (line 4)) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /opt/anaconda3/lib/python3.7/site-packages (from matplotlib->-r ../requirements.txt (line 4)) (1.1.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /opt/anaconda3/lib/python3.7/site-packages (from matplotlib->-r ../requirements.txt (line 4)) (2.4.6)
Requirement already satisfied: python-dateutil>=2.1 in /opt/anaconda3/lib/python3.7/site-packages (from matplotlib->-r ../requirements.txt (line 4)) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /opt/anaconda3/lib/python3.7/site-packages (from pandas->-r ../requirements.txt (line 6)) (2019.3)
Requirement already satisfied: joblib>=0.11 in /opt/anaconda3/lib/python3.7/site-packages (from scikit-learn->-r ../requirements.txt (line 8)) (0.14.1)
Requirement already satisfied: pylev<2.0,>=1.3 in /opt/anaconda3/lib/python3.7/site-packages (from clikit==0.4.0->clevercsv->-r ../requirements.txt (line 2)) (1.3.0)
Requirement already satisfied: pastel<0.2.0,>=0.1.0 in /opt/anaconda3/lib/python3.7/site-packages (from clikit==0.4.0->clevercsv->-r ../requirements.txt (line 2)) (0.1.1)
Requirement already satisfied: six in /opt/anaconda3/lib/python3.7/site-packages (from cycler>=0.10->matplotlib->-r ../requirements.txt (line 4)) (1.14.0)
Requirement already satisfied: setuptools in /opt/anaconda3/lib/python3.7/site-packages (from kiwisolver>=1.0.1->matplotlib->-r ../requirements.txt (line 4)) (46.0.0.post20200309)

In [2]:
from IPython.core.display import display, HTML
display(HTML("<style>.container {width:100% !important;}</style>"))

import matplotlib.pyplot as plt
%matplotlib inline
plt.rcdefaults()

from ptype.Ptype import Ptype
from ptype.utils import evaluate_types
import pandas as pd
import numpy as np

## 1 Using ptype
### 1.a Create a ptype assistant

In [3]:
ptype = Ptype()

### loading data

In [4]:
dataset_name = 'auto'
dataset_path = '../data/' + dataset_name + '.csv'

df =  pd.read_csv(dataset_path, sep=',', encoding='ISO-8859-1', dtype=str, header=None, keep_default_na=False, skipinitialspace=True)
print(df.shape)
df.head(5)

(205, 26)

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.60,...,130,mpfi,3.47,2.68,9.00,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.60,...,130,mpfi,3.47,2.68,9.00,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.50,...,152,mpfi,2.68,3.47,9.00,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.80,...,109,mpfi,3.19,3.40,10.00,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.40,...,136,mpfi,3.19,3.40,8.00,115,5500,18,22,17450

### 1.b Run ptype

In [5]:
ptype.run_inference(_data_frame=df)

### 1.c Report the results

In [6]:
evaluate_types(dataset_name, ptype)

correct/total =  1.0 (26/26)

#### Show the results for all of the columns
We can generate a new dataframe which includes the column type predictions in the header.

In [7]:
df = ptype.show_results_df()
df.head(20)

,0(integer),1(integer),2(string),3(string),4(string),5(string),6(string),7(string),8(string),9(float),...,16(integer),17(string),18(float),19(float),20(float),21(integer),22(integer),23(integer),24(integer),25(integer)
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.60,...,130,mpfi,3.47,2.68,9.00,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.60,...,130,mpfi,3.47,2.68,9.00,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.50,...,152,mpfi,2.68,3.47,9.00,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.80,...,109,mpfi,3.19,3.40,10.00,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.40,...,136,mpfi,3.19,3.40,8.00,115,5500,18,22,17450
5,2,?,audi,gas,std,two,sedan,fwd,front,99.80,...,136,mpfi,3.19,3.40,8.50,110,5500,19,25,15250
6,1,158,audi,gas,std,four,sedan,fwd,front,105.80,...,136,mpfi,3.19,3.40,8.50,110,5500,19,25,17710
7,1,?,audi,gas,std,four,wagon,fwd,front,105.80,...,136,mpfi,3.19,3.40,8.50,110,5500,19,25,18920
8,1,158,audi,gas,turbo,four,sedan,fwd,front,105.80,...,131,mpfi,3.13,3.40,8.30,140,5500,17,20,23875
9,0,?,audi,gas,turbo,two,hatchback,4wd,front,99.50,...,131,mpfi,3.13,3.40,7.00,160,5500,16,22,?
10,2,192,bmw,gas,std,two,sedan,rwd,front,101.20,...,108,mpfi,3.50,2.80,8.80,101,5800,23,29,16430
11,0,192,bmw,gas,std,four,sedan,rwd,front,101.20,...,108,mpfi,3.50,2.80,8.80,101,5800,23,29,16925
12,0,188,bmw,gas,std,two,sedan,rwd,front,101.20,...,164,mpfi,3.31,3.19,9.00,121,4250,21,28,20970
13,0,188,bmw,gas,std,four,sedan,rwd,front,101.20,...,164,mpfi,3.31,3.19,9.00,121,4250,21,28,21105
14,1,?,bmw,gas,std,four,sedan,rwd,front,103.50,...,164,mpfi,3.31,3.19,9.00,121,4250,20,25,24565
15,0,?,bmw,gas,std,four,sedan,rwd,front,103.50,...,209,mpfi,3.62,3.39,8.00,182,5400,16,22,30760
16,0,?,bmw,gas,std,two,sedan,rwd,front,103.50,...,209,mpfi,3.62,3.39,8.00,182,5400,16,22,41315
17,0,?,bmw,gas,std,four,sedan,rwd,front,110.00,...,209,mpfi,3.62,3.39,8.00,182,5400,15,20,36880
18,2,121,chevrolet,gas,std,two,hatchback,fwd,front,88.40,...,61,2bbl,2.91,3.03,9.50,48,5100,47,53,5151
19,1,98,chevrolet,gas,std,two,hatchback,fwd,front,94.50,...,90,2bbl,3.03,3.11,9.60,70,5400,38,43,6295

To inspect the results in detail, we can generate a human-readable description.

In [10]:
ptype.show_results()

col: 0
	predicted type: integer
	posterior probs:  [9.99999674e-01 0.00000000e+00 3.26244845e-07 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00]
	types:  ['integer', 'string', 'float', 'boolean', 'gender', 'date-iso-8601', 'date-eu', 'date-non-std-subtype', 'date-non-std']

	some normal data values:  ['-2', '0', '1', '2', '3']
	their counts:  [3, 67, 54, 32, 27]
	fraction of normal: 0.89

	missing values: ['-1']
	their counts:  [22]
	fraction of missing: 0.11

col: 1
	predicted type: integer
	posterior probs:  [1.00000000e+00 0.00000000e+00 4.73609772e-47 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00]
	types:  ['integer', 'string', 'float', 'boolean', 'gender', 'date-iso-8601', 'date-eu', 'date-non-std-subtype', 'date-non-std']

	some normal data values:  ['101', '102', '103', '104', '106', '107', '108', '110', '113', '115', '118', '119', '121', '122', '125', '128', '129', '134', '137', '142']
	their counts:  [3, 5, 5, 6, 4, 1, 2, 2, 2, 3, 4, 2, 1, 4, 3, 6, 2, 6, 3, 1]
	fraction of normal: 0.8

	missing values: ['?']
	their counts:  [41]
	fraction of missing: 0.2

col: 2
	predicted type: string
	posterior probs:  [0. 1. 0. 0. 0. 0. 0. 0. 0.]
	types:  ['integer', 'string', 'float', 'boolean', 'gender', 'date-iso-8601', 'date-eu', 'date-non-std-subtype', 'date-non-std']

	some normal data values:  ['alfa-romero', 'audi', 'bmw', 'chevrolet', 'dodge', 'honda', 'isuzu', 'jaguar', 'mazda', 'mercedes-benz', 'mercury', 'mitsubishi', 'nissan', 'peugot', 'plymouth', 'porsche', 'renault', 'saab', 'subaru', 'toyota']
	their counts:  [3, 7, 8, 3, 9, 13, 4, 3, 17, 8, 1, 13, 18, 11, 7, 5, 2, 6, 12, 32]
	fraction of normal: 1.0

col: 3
	predicted type: string
	posterior probs:  [0. 1. 0. 0. 0. 0. 0. 0. 0.]
	types:  ['integer', 'string', 'float', 'boolean', 'gender', 'date-iso-8601', 'date-eu', 'date-non-std-subtype', 'date-non-std']

	some normal data values:  ['diesel', 'gas']
	their counts:  [20, 185]
	fraction of normal: 1.0

col: 4
	predicted type: string
	posterior probs:  [0. 1. 0. 0. 0. 0. 0. 0. 0.]
	types:  ['integer', 'string', 'float', 'boolean', 'gender', 'date-iso-8601', 'date-eu', 'date-non-std-subtype', 'date-non-std']

	some normal data values:  ['std', 'turbo']
	their counts:  [168, 37]
	fraction of normal: 1.0

col: 5
	predicted type: string
	posterior probs:  [0. 1. 0. 0. 0. 0. 0. 0. 0.]
	types:  ['integer', 'string', 'float', 'boolean', 'gender', 'date-iso-8601', 'date-eu', 'date-non-std-subtype', 'date-non-std']

	some normal data values:  ['four', 'two']
	their counts:  [114, 89]
	fraction of normal: 0.99

	missing values: ['?']
	their counts:  [2]
	fraction of missing: 0.01

col: 6
	predicted type: string
	posterior probs:  [0. 1. 0. 0. 0. 0. 0. 0. 0.]
	types:  ['integer', 'string', 'float', 'boolean', 'gender', 'date-iso-8601', 'date-eu', 'date-non-std-subtype', 'date-non-std']

	some normal data values:  ['convertible', 'hardtop', 'hatchback', 'sedan', 'wagon']
	their counts:  [6, 8, 70, 96, 25]
	fraction of normal: 1.0

col: 7
	predicted type: string
	posterior probs:  [0. 1. 0. 0. 0. 0. 0. 0. 0.]
	types:  ['integer', 'string', 'float', 'boolean', 'gender', 'date-iso-8601', 'date-eu', 'date-non-std-subtype', 'date-non-std']

	some normal data values:  ['4wd', 'fwd', 'rwd']
	their counts:  [9, 120, 76]
	fraction of normal: 1.0

col: 8
	predicted type: string
	posterior probs:  [0. 1. 0. 0. 0. 0. 0. 0. 0.]
	types:  ['integer', 'string', 'float', 'boolean', 'gender', 'date-iso-8601', 'date-eu', 'date-non-std-subtype', 'date-non-std']

	some normal data values:  ['front', 'rear']
	their counts:  [202, 3]
	fraction of normal: 1.0

col: 9
	predicted type: float
	posterior probs:  [0. 0. 1. 0. 0. 0. 0. 0. 0.]
	types:  ['integer', 'string', 'float', 'boolean', 'gender', 'date-iso-8601', 'date-eu', 'date-non-std-subtype', 'date-non-std']

	some normal data values:  ['100.40', '101.20', '102.00', '102.40', '102.70', '102.90', '103.30', '103.50', '104.30', '104.50', '104.90', '105.80', '106.70', '107.90', '108.00', '109.10', '110.00', '112.00', '113.00', '114.20']
	their counts:  [6, 4, 1, 5, 1, 2, 2, 3, 6, 2, 2, 3, 1, 6, 1, 5, 3, 1, 2, 4]
	fraction of normal: 1.0

col: 10
	predicted type: float
	posterior probs:  [0. 0. 1. 0. 0. 0. 0. 0. 0.]
	types:  ['integer', 'string', 'float', 'boolean', 'gender', 'date-iso-8601', 'date-eu', 'date-non-std-subtype', 'date-non-std']

	some normal data values:  ['141.10', '144.60', '150.00', '155.90', '156.90', '157.10', '157.30', '157.90', '158.70', '158.80', '159.10', '159.30', '162.40', '163.40', '165.30', '165.60', '165.70', '166.30', '166.80', '167.30']
	their counts:  [1, 2, 3, 3, 1, 1, 15, 1, 3, 1, 3, 1, 1, 1, 6, 1, 1, 7, 2, 2]
	fraction of normal: 1.0

col: 11
	predicted type: float
	posterior probs:  [0. 0. 1. 0. 0. 0. 0. 0. 0.]
	types:  ['integer', 'string', 'float', 'boolean', 'gender', 'date-iso-8601', 'date-eu', 'date-non-std-subtype', 'date-non-std']

	some normal data values:  ['60.30', '61.80', '62.50', '63.40', '63.60', '63.80', '63.90', '64.00', '64.10', '64.20', '64.40', '64.60', '64.80', '65.00', '65.20', '65.40', '65.50', '65.60', '65.70', '66.00']
	their counts:  [1, 1, 1, 1, 11, 24, 3, 9, 2, 6, 10, 2, 4, 3, 7, 15, 8, 6, 4, 1]
	fraction of normal: 1.0

col: 12
	predicted type: float
	posterior probs:  [0. 0. 1. 0. 0. 0. 0. 0. 0.]
	types:  ['integer', 'string', 'float', 'boolean', 'gender', 'date-iso-8601', 'date-eu', 'date-non-std-subtype', 'date-non-std']

	some normal data values:  ['47.80', '48.80', '49.40', '49.60', '49.70', '50.20', '50.50', '50.60', '50.80', '51.00', '51.40', '51.60', '52.00', '52.40', '52.50', '52.60', '52.80', '53.00', '53.10', '53.20']
	their counts:  [1, 2, 2, 4, 3, 6, 2, 5, 14, 1, 2, 7, 12, 1, 3, 7, 6, 6, 1, 1]
	fraction of normal: 1.0

col: 13
	predicted type: integer
	posterior probs:  [1.00000000e+00 0.00000000e+00 1.01164066e-97 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00]
	types:  ['integer', 'string', 'float', 'boolean', 'gender', 'date-iso-8601', 'date-eu', 'date-non-std-subtype', 'date-non-std']

	some normal data values:  ['1488', '1713', '1819', '1837', '1874', '1876', '1889', '1890', '1900', '1905', '1909', '1918', '1938', '1940', '1944', '1945', '1950', '1951', '1956', '1967']
	their counts:  [1, 1, 1, 1, 2, 2, 1, 1, 1, 1, 2, 3, 1, 1, 1, 1, 1, 1, 1, 2]
	fraction of normal: 1.0

col: 14
	predicted type: string
	posterior probs:  [0. 1. 0. 0. 0. 0. 0. 0. 0.]
	types:  ['integer', 'string', 'float', 'boolean', 'gender', 'date-iso-8601', 'date-eu', 'date-non-std-subtype', 'date-non-std']

	some normal data values:  ['dohc', 'dohcv', 'l', 'ohc', 'ohcf', 'ohcv', 'rotor']
	their counts:  [12, 1, 12, 148, 15, 13, 4]
	fraction of normal: 1.0

col: 15
	predicted type: string
	posterior probs:  [0. 1. 0. 0. 0. 0. 0. 0. 0.]
	types:  ['integer', 'string', 'float', 'boolean', 'gender', 'date-iso-8601', 'date-eu', 'date-non-std-subtype', 'date-non-std']

	some normal data values:  ['eight', 'five', 'four', 'six', 'three', 'twelve', 'two']
	their counts:  [5, 11, 159, 24, 1, 1, 4]
	fraction of normal: 1.0

col: 16
	predicted type: integer
	posterior probs:  [1.000000e+00 0.000000e+00 4.033889e-58 0.000000e+00 0.000000e+00
 0.000000e+00 0.000000e+00 0.000000e+00 0.000000e+00]
	types:  ['integer', 'string', 'float', 'boolean', 'gender', 'date-iso-8601', 'date-eu', 'date-non-std-subtype', 'date-non-std']

	some normal data values:  ['103', '108', '109', '110', '111', '119', '120', '121', '122', '130', '131', '132', '134', '136', '140', '141', '145', '146', '151', '152']
	their counts:  [1, 13, 8, 12, 1, 1, 7, 6, 15, 4, 2, 2, 2, 5, 2, 7, 1, 6, 1, 6]
	fraction of normal: 1.0

col: 17
	predicted type: string
	posterior probs:  [0. 1. 0. 0. 0. 0. 0. 0. 0.]
	types:  ['integer', 'string', 'float', 'boolean', 'gender', 'date-iso-8601', 'date-eu', 'date-non-std-subtype', 'date-non-std']

	some normal data values:  ['1bbl', '2bbl', '4bbl', 'idi', 'mfi', 'mpfi', 'spdi', 'spfi']
	their counts:  [11, 66, 3, 20, 1, 94, 9, 1]
	fraction of normal: 1.0

col: 18
	predicted type: float
	posterior probs:  [0. 0. 1. 0. 0. 0. 0. 0. 0.]
	types:  ['integer', 'string', 'float', 'boolean', 'gender', 'date-iso-8601', 'date-eu', 'date-non-std-subtype', 'date-non-std']

	some normal data values:  ['2.54', '2.68', '2.91', '2.92', '2.97', '2.99', '3.01', '3.03', '3.05', '3.08', '3.13', '3.15', '3.17', '3.19', '3.24', '3.27', '3.31', '3.33', '3.34', '3.35']
	their counts:  [1, 1, 7, 1, 12, 1, 5, 12, 6, 1, 2, 15, 3, 20, 2, 7, 8, 2, 1, 4]
	fraction of normal: 0.98

	missing values: ['?']
	their counts:  [4]
	fraction of missing: 0.02

col: 19
	predicted type: float
	posterior probs:  [0. 0. 1. 0. 0. 0. 0. 0. 0.]
	types:  ['integer', 'string', 'float', 'boolean', 'gender', 'date-iso-8601', 'date-eu', 'date-non-std-subtype', 'date-non-std']

	some normal data values:  ['2.07', '2.19', '2.36', '2.64', '2.68', '2.76', '2.80', '2.87', '2.90', '3.03', '3.07', '3.08', '3.10', '3.11', '3.12', '3.15', '3.16', '3.19', '3.21', '3.23']
	their counts:  [1, 2, 1, 11, 2, 1, 2, 1, 3, 14, 6, 2, 2, 6, 1, 14, 1, 6, 1, 14]
	fraction of normal: 0.98

	missing values: ['?']
	their counts:  [4]
	fraction of missing: 0.02

col: 20
	predicted type: float
	posterior probs:  [0. 0. 1. 0. 0. 0. 0. 0. 0.]
	types:  ['integer', 'string', 'float', 'boolean', 'gender', 'date-iso-8601', 'date-eu', 'date-non-std-subtype', 'date-non-std']

	some normal data values:  ['10.00', '10.10', '11.50', '21.00', '21.50', '21.90', '22.00', '22.50', '22.70', '23.00', '7.00', '7.50', '7.60', '7.70', '7.80', '8.00', '8.10', '8.30', '8.40', '8.50']
	their counts:  [3, 1, 1, 5, 4, 1, 1, 3, 1, 5, 7, 5, 4, 2, 1, 8, 2, 3, 5, 14]
	fraction of normal: 1.0

col: 21
	predicted type: integer
	posterior probs:  [1.00000000e+00 0.00000000e+00 3.49354091e-51 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00]
	types:  ['integer', 'string', 'float', 'boolean', 'gender', 'date-iso-8601', 'date-eu', 'date-non-std-subtype', 'date-non-std']

	some normal data values:  ['100', '101', '102', '106', '110', '111', '112', '114', '115', '116', '120', '121', '123', '134', '135', '140', '142', '143', '145', '152']
	their counts:  [2, 6, 5, 1, 8, 4, 2, 6, 1, 9, 1, 3, 4, 1, 1, 1, 1, 1, 5, 3]
	fraction of normal: 0.99

	missing values: ['?']
	their counts:  [2]
	fraction of missing: 0.01

col: 22
	predicted type: integer
	posterior probs:  [1.00000000e+00 0.00000000e+00 8.93961265e-97 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00]
	types:  ['integer', 'string', 'float', 'boolean', 'gender', 'date-iso-8601', 'date-eu', 'date-non-std-subtype', 'date-non-std']

	some normal data values:  ['4150', '4200', '4250', '4350', '4400', '4500', '4650', '4750', '4800', '4900', '5000', '5100', '5200', '5250', '5300', '5400', '5500', '5600', '5750', '5800']
	their counts:  [5, 5, 3, 4, 3, 7, 1, 4, 36, 1, 27, 3, 23, 7, 1, 13, 37, 1, 1, 7]
	fraction of normal: 0.99

	missing values: ['?']
	their counts:  [2]
	fraction of missing: 0.01

col: 23
	predicted type: integer
	posterior probs:  [1.00000000e+00 0.00000000e+00 8.27029313e-38 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00]
	types:  ['integer', 'string', 'float', 'boolean', 'gender', 'date-iso-8601', 'date-eu', 'date-non-std-subtype', 'date-non-std']

	some normal data values:  ['13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32']
	their counts:  [1, 2, 3, 6, 13, 3, 27, 3, 8, 4, 12, 22, 8, 12, 14, 7, 3, 8, 28, 1]
	fraction of normal: 1.0

col: 24
	predicted type: integer
	posterior probs:  [1.00000000e+00 0.00000000e+00 8.27029313e-38 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00]
	types:  ['integer', 'string', 'float', 'boolean', 'gender', 'date-iso-8601', 'date-eu', 'date-non-std-subtype', 'date-non-std']

	some normal data values:  ['16', '17', '18', '19', '20', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '34', '36', '37']
	their counts:  [2, 1, 2, 2, 2, 8, 7, 17, 19, 3, 5, 13, 10, 16, 8, 16, 9, 14, 2, 13]
	fraction of normal: 1.0

col: 25
	predicted type: integer
	posterior probs:  [1.00000000e+000 0.00000000e+000 1.45025991e-107 0.00000000e+000
 0.00000000e+000 0.00000000e+000 0.00000000e+000 0.00000000e+000
 0.00000000e+000]
	types:  ['integer', 'string', 'float', 'boolean', 'gender', 'date-iso-8601', 'date-eu', 'date-non-std-subtype', 'date-non-std']

	some normal data values:  ['10198', '10245', '10295', '10345', '10595', '10698', '10795', '10898', '10945', '11048', '11199', '11245', '11248', '11259', '11549', '11595', '11694', '11845', '11850', '11900']
	their counts:  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
	fraction of normal: 0.98

	missing values: ['?']
	their counts:  [4]
	fraction of missing: 0.02

#### Show the results for the columns with missing data

In [11]:
column_names = ptype.get_columns_with_missing()
ptype.show_results(column_names)

# columns with missing data: 8

col: 0
	predicted type: integer
	posterior probs:  [9.99999674e-01 0.00000000e+00 3.26244845e-07 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00]
	types:  ['integer', 'string', 'float', 'boolean', 'gender', 'date-iso-8601', 'date-eu', 'date-non-std-subtype', 'date-non-std']

	some normal data values:  ['-2', '0', '1', '2', '3']
	their counts:  [3, 67, 54, 32, 27]
	fraction of normal: 0.89

	missing values: ['-1']
	their counts:  [22]
	fraction of missing: 0.11

col: 1
	predicted type: integer
	posterior probs:  [1.00000000e+00 0.00000000e+00 4.73609772e-47 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00]
	types:  ['integer', 'string', 'float', 'boolean', 'gender', 'date-iso-8601', 'date-eu', 'date-non-std-subtype', 'date-non-std']

	some normal data values:  ['101', '102', '103', '104', '106', '107', '108', '110', '113', '115', '118', '119', '121', '122', '125', '128', '129', '134', '137', '142']
	their counts:  [3, 5, 5, 6, 4, 1, 2, 2, 2, 3, 4, 2, 1, 4, 3, 6, 2, 6, 3, 1]
	fraction of normal: 0.8

	missing values: ['?']
	their counts:  [41]
	fraction of missing: 0.2

col: 5
	predicted type: string
	posterior probs:  [0. 1. 0. 0. 0. 0. 0. 0. 0.]
	types:  ['integer', 'string', 'float', 'boolean', 'gender', 'date-iso-8601', 'date-eu', 'date-non-std-subtype', 'date-non-std']

	some normal data values:  ['four', 'two']
	their counts:  [114, 89]
	fraction of normal: 0.99

	missing values: ['?']
	their counts:  [2]
	fraction of missing: 0.01

col: 18
	predicted type: float
	posterior probs:  [0. 0. 1. 0. 0. 0. 0. 0. 0.]
	types:  ['integer', 'string', 'float', 'boolean', 'gender', 'date-iso-8601', 'date-eu', 'date-non-std-subtype', 'date-non-std']

	some normal data values:  ['2.54', '2.68', '2.91', '2.92', '2.97', '2.99', '3.01', '3.03', '3.05', '3.08', '3.13', '3.15', '3.17', '3.19', '3.24', '3.27', '3.31', '3.33', '3.34', '3.35']
	their counts:  [1, 1, 7, 1, 12, 1, 5, 12, 6, 1, 2, 15, 3, 20, 2, 7, 8, 2, 1, 4]
	fraction of normal: 0.98

	missing values: ['?']
	their counts:  [4]
	fraction of missing: 0.02

col: 19
	predicted type: float
	posterior probs:  [0. 0. 1. 0. 0. 0. 0. 0. 0.]
	types:  ['integer', 'string', 'float', 'boolean', 'gender', 'date-iso-8601', 'date-eu', 'date-non-std-subtype', 'date-non-std']

	some normal data values:  ['2.07', '2.19', '2.36', '2.64', '2.68', '2.76', '2.80', '2.87', '2.90', '3.03', '3.07', '3.08', '3.10', '3.11', '3.12', '3.15', '3.16', '3.19', '3.21', '3.23']
	their counts:  [1, 2, 1, 11, 2, 1, 2, 1, 3, 14, 6, 2, 2, 6, 1, 14, 1, 6, 1, 14]
	fraction of normal: 0.98

	missing values: ['?']
	their counts:  [4]
	fraction of missing: 0.02

col: 21
	predicted type: integer
	posterior probs:  [1.00000000e+00 0.00000000e+00 3.49354091e-51 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00]
	types:  ['integer', 'string', 'float', 'boolean', 'gender', 'date-iso-8601', 'date-eu', 'date-non-std-subtype', 'date-non-std']

	some normal data values:  ['100', '101', '102', '106', '110', '111', '112', '114', '115', '116', '120', '121', '123', '134', '135', '140', '142', '143', '145', '152']
	their counts:  [2, 6, 5, 1, 8, 4, 2, 6, 1, 9, 1, 3, 4, 1, 1, 1, 1, 1, 5, 3]
	fraction of normal: 0.99

	missing values: ['?']
	their counts:  [2]
	fraction of missing: 0.01

col: 22
	predicted type: integer
	posterior probs:  [1.00000000e+00 0.00000000e+00 8.93961265e-97 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00]
	types:  ['integer', 'string', 'float', 'boolean', 'gender', 'date-iso-8601', 'date-eu', 'date-non-std-subtype', 'date-non-std']

	some normal data values:  ['4150', '4200', '4250', '4350', '4400', '4500', '4650', '4750', '4800', '4900', '5000', '5100', '5200', '5250', '5300', '5400', '5500', '5600', '5750', '5800']
	their counts:  [5, 5, 3, 4, 3, 7, 1, 4, 36, 1, 27, 3, 23, 7, 1, 13, 37, 1, 1, 7]
	fraction of normal: 0.99

	missing values: ['?']
	their counts:  [2]
	fraction of missing: 0.01

col: 25
	predicted type: integer
	posterior probs:  [1.00000000e+000 0.00000000e+000 1.45025991e-107 0.00000000e+000
 0.00000000e+000 0.00000000e+000 0.00000000e+000 0.00000000e+000
 0.00000000e+000]
	types:  ['integer', 'string', 'float', 'boolean', 'gender', 'date-iso-8601', 'date-eu', 'date-non-std-subtype', 'date-non-std']

	some normal data values:  ['10198', '10245', '10295', '10345', '10595', '10698', '10795', '10898', '10945', '11048', '11199', '11245', '11248', '11259', '11549', '11595', '11694', '11845', '11850', '11900']
	their counts:  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
	fraction of normal: 0.98

	missing values: ['?']
	their counts:  [4]
	fraction of missing: 0.02

#### Show the results for the columns with anomalies

In [12]:
column_names = ptype.get_columns_with_anomalies()
ptype.show_results(column_names)

# columns with anomalies: 0

## 2. User Interactions
- changing the column type predictions,
- changing the anomaly type predictions,
- changing the missing type predictions.


### 2.a Change the column type predictions

In [8]:
dataset_name = 'data_gov_10151_1'
dataset_path = '../data/' + dataset_name + '.csv'
df =  pd.read_csv(dataset_path, sep=',', encoding='ISO-8859-1', dtype=str, keep_default_na=False, skipinitialspace=True)
print(df.shape)
df.head(2)

(99, 21)

,ï»¿OBJECTID,Loc_name,Status,Score,Match_type,Match_addr,Side,Ref_ID,X,Y,...,Addr_type,ARC_Street,ARC_City,ARC_State,ARC_ZIP,Name,Municipali,Address,Municipa_1,ZipCodes
0,1,DW_Addressing_,M,95.42,A,"1710 PACIFIC AVE, HARRISON, PA, 15065",,3150892,1420542.434568,475246.110473,...,StreetAddress,1710 Pacific Avenue,Natrona Heights,,15065,Community Market,Natrona Heights,1710 Pacific Avenue,Natrona Heights,15065
1,2,DW_Addressing_,M,93.91,A,"1117 MILLTOWN RD, PENN HILLS, PA, 15147",,3148048,1401019.429449,431068.460889,...,StreetAddress,1117 Mill Town Road,Verona,,15147,Community Market,Verona,1117 Mill Town Road,Verona,15147

In [9]:
ptype.run_inference(_data_frame=df)
ptype.show_results_df().head(20)

,ï»¿OBJECTID(integer),Loc_name(string),Status(gender),Score(float),Match_type(string),Match_addr(string),Side(string),Ref_ID(integer),X(float),Y(float),...,Addr_type(string),ARC_Street(string),ARC_City(string),ARC_State(all identical),ARC_ZIP(integer),Name(string),Municipali(string),Address(string),Municipa_1(string),ZipCodes(integer)
0,1,DW_Addressing_,M,95.42,A,"1710 PACIFIC AVE, HARRISON, PA, 15065",,3150892,1420542.434568,475246.110473,...,StreetAddress,1710 Pacific Avenue,Natrona Heights,,15065,Community Market,Natrona Heights,1710 Pacific Avenue,Natrona Heights,15065
1,2,DW_Addressing_,M,93.91,A,"1117 MILLTOWN RD, PENN HILLS, PA, 15147",,3148048,1401019.429449,431068.460889,...,StreetAddress,1117 Mill Town Road,Verona,,15147,Community Market,Verona,1117 Mill Town Road,Verona,15147
2,3,DW_Addressing_,M,100,A,"1017 4TH AVE, CORAOPOLIS, PA, 15108",,3083227,1297767.802053,440835.299188,...,StreetAddress,1017 4th Avenue,Coraopolis,,15108,Coraopolis Cash Market,Coraopolis,1017 4th Avenue,Coraopolis,15108
3,4,DW_Addressing_,M,100,A,"5055 LIBRARY RD, BETHEL PARK, PA, 15102",,2693039,1334758.100618,374326.901636,...,StreetAddress,5055 Library Road,Bethel Park,,15102,Giant Eagle,Bethel Park,5055 Library Road,Bethel Park,15102
4,5,DW_Addressing_,M,100,A,"254 YOST BLVD, BRADDOCK HILLS, PA, 15221",,2805222,1382335.999685,400839.100961,...,StreetAddress,254 Yost Boulevard,Braddock Hills,,15221,Giant Eagle,Braddock Hills,254 Yost Boulevard,Pittsburgh,15221
5,6,DW_Addressing_,M,100,A,"600 TOWNE SQUARE WAY, BRENTWOOD, PA, 15227",,3161264,1346223.897289,383925.260241,...,StreetAddress,600 Towne Square Way,Brentwood,,15227,Giant Eagle,Brentwood,600 Towne Square Way,Pittsburgh,15227
6,7,DW_Addressing_,M,95.31,A,"132 BEN AVON HEIGHTS RD, OHIO, PA, 15237",,2654758,1323833.900492,441351.299762,...,StreetAddress,132 Ben Avon Heights Road,Camp Horne,,15237,Giant Eagle,Camp Horne,132 Ben Avon Heights Road,Pittsburgh,15237
7,8,DW_Addressing_,M,96.97,A,"5260 GROVE RD, WHITEHALL, PA, 15236",,2665562,1340889.999357,381056.501822,...,StreetAddress,5260 Grove Road,Caste Village,,15236,Giant Eagle,Caste Village,5260 Grove Road,Pittsburgh,15236
8,9,DW_Addressing_,M,94.82,A,"9901 MOUNTAIN VIEW DR, WEST MIFFLIN, PA, 15122",,3029807,1355362.699365,374227.100263,...,StreetAddress,9901 Mountain View Drive,Century III,,15122,Giant Eagle,Century III,9901 Mountain View Drive,West Mifflin,15122
9,10,,U,0,A,,,-1,0,0,...,,Crafton-Ingram Shopping Center,Crafton,,15205,Giant Eagle,Crafton,Crafton-Ingram Shopping Center,Pittsburgh,15205
10,11,DW_Addressing_,M,96.38,A,"6320 SHAKESPEARE ST, PITTSBURGH, PA, 15206",,2827562,1364508.598192,417369.597899,...,StreetAddress,6320 Shakespeare Street,East Liberty,,15206,Giant Eagle,East Liberty,6320 Shakespeare Street,Pittsburgh,15206
11,12,DW_Addressing_,M,100,A,"1705 S BRADDOCK AVE, EDGEWOOD, PA, 15218",L,80632,1373035.349876,405180.520368,...,Address,1705 S. Braddock Avenue,Edgewood,,15218,Giant Eagle,Edgewood,1705 S. Braddock Avenue,Pittsburgh,15218
12,13,DW_Addressing_,M,98.91,A,"800 MCKEESPORT RD, ELIZABETH TOWNSHIP, PA, 15037",,3168164,1375475.548403,351967.379397,...,StreetAddress,800 Mckeesport Road,Elizabeth,,15037,Giant Eagle,Elizabeth,800 Mckeesport Road,Elizabeth,15037
13,14,DW_Addressing_,M,94.21,A,"910 FREEPORT RD, PITTSBURGH, PA, 15238",,2845101,1372311.599919,428575.498074,...,StreetAddress,910 Freeport Road,Fox Chapel,,15238,Giant Eagle,Fox Chapel,910 Freeport Road,Pittsburgh,15238
14,15,DW_Addressing_,M,94.21,A,"9001 FRANKSTOWN RD, PENN HILLS, PA, 15235",,3099409,1379981.99985,418450.898215,...,StreetAddress,9001 Frankstown Road,Frankstown,,15235,Giant Eagle,Frankstown,9001 Frankstown Road,Pittsburgh,15235
15,16,DW_Addressing_,M,93.7,A,"4250 MURRAY AVE, PITTSBURGH, PA, 15217",,3138681,1361769.932385,404166.519936,...,StreetAddress,4250 Murray Avenue,Greenfield,,15217,Giant Eagle,Greenfield,4250 Murray Avenue,Pittsburgh,15217
16,17,,U,0,A,,,-1,0,0,...,,Parkway Center Mall,Greentree,,15220,Giant Eagle,Greentree,Parkway Center Mall,Pittsburgh,15220
17,18,DW_Addressing_,M,100,A,"420 E WATERFRONT DR, HOMESTEAD, PA, 15120",,2835432,1367495.900102,399928.601621,...,StreetAddress,420 East Waterfront Drive,Homestead,,15120,Giant Eagle,Homestead,420 East Waterfront Drive,Homestead,15120
18,19,DW_Addressing_,M,98.91,A,"1800 MCKEES ROCKS RD, KENNEDY, PA, 15136",,2701552,1315390.701589,421949.798741,...,StreetAddress,1800 Mckees Rocks Road,Kennedy Twp.,,15136,Giant Eagle,Kennedy Twp.,1800 Mckees Rocks Road,Mckees Rocks,15136
19,20,,U,0,A,,,-1,0,0,...,,Quaker Village Shopping Center,Leetsdale,,15056,Giant Eagle,Leetsdale,Quaker Village Shopping Center,Leetsdale,15056

#### checking columns annotated with the gender type

In [15]:
gender_columns = ptype.get_columns_with_type('gender')
ptype.show_results(gender_columns)

col: Status
	predicted type: gender
	posterior probs:  [0. 0. 0. 0. 1. 0. 0. 0. 0.]
	types:  ['integer', 'string', 'float', 'boolean', 'gender', 'date-iso-8601', 'date-eu', 'date-non-std-subtype', 'date-non-std']

	some normal data values:  ['M']
	their counts:  [86]
	fraction of normal: 0.87

	anomalies: ['T', 'U']
	their counts: [5, 8]
	fraction of anomalies: 0.13

In [16]:
ptype.change_column_type_annotations(gender_columns, ['string',])
ptype.show_results(gender_columns)

The column type of Status is changed from gender to string
col: Status
	predicted type: string
	posterior probs:  [0. 0. 0. 0. 1. 0. 0. 0. 0.]
	types:  ['integer', 'string', 'float', 'boolean', 'gender', 'date-iso-8601', 'date-eu', 'date-non-std-subtype', 'date-non-std']

	some normal data values:  ['M']
	their counts:  [86]
	fraction of normal: 0.87

	anomalies: ['T', 'U']
	their counts: [5, 8]
	fraction of anomalies: 0.13

### 2.b Changing the anomaly annotations
Notice that the values of 'T' and 'U' are still annotated as anomalies. We need to update the annotations to fix this.

In [17]:
ptype.change_anomaly_annotations('Status', ['T', 'U'])
ptype.show_results(gender_columns)

col: Status
	predicted type: string
	posterior probs:  [0. 0. 0. 0. 1. 0. 0. 0. 0.]
	types:  ['integer', 'string', 'float', 'boolean', 'gender', 'date-iso-8601', 'date-eu', 'date-non-std-subtype', 'date-non-std']

	some normal data values:  ['M', 'T', 'U']
	their counts:  [86, 5, 8]
	fraction of normal: 1.0

### 2.c Change missing data encodings

In [18]:
dataset_name = 'auto'
dataset_path = '../data/' + dataset_name + '.csv'
df =  pd.read_csv(dataset_path, sep=',', encoding='ISO-8859-1', dtype=str, header=None, keep_default_na=False, skipinitialspace=True)
print(df.shape)
df.head(2)

(205, 26)

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.60,...,130,mpfi,3.47,2.68,9.00,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.60,...,130,mpfi,3.47,2.68,9.00,111,5000,21,27,16500

In [19]:
ptype.run_inference(_data_frame=df)

#### checking the columns with missing data

In [20]:
column_names = ptype.get_columns_with_missing()
ptype.show_results(column_names)

# columns with missing data: 8

col: 0
	predicted type: integer
	posterior probs:  [9.99999674e-01 0.00000000e+00 3.26244845e-07 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00]
	types:  ['integer', 'string', 'float', 'boolean', 'gender', 'date-iso-8601', 'date-eu', 'date-non-std-subtype', 'date-non-std']

	some normal data values:  ['-2', '0', '1', '2', '3']
	their counts:  [3, 67, 54, 32, 27]
	fraction of normal: 0.89

	missing values: ['-1']
	their counts:  [22]
	fraction of missing: 0.11

col: 1
	predicted type: integer
	posterior probs:  [1.00000000e+00 0.00000000e+00 4.73609772e-47 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00]
	types:  ['integer', 'string', 'float', 'boolean', 'gender', 'date-iso-8601', 'date-eu', 'date-non-std-subtype', 'date-non-std']

	some normal data values:  ['101', '102', '103', '104', '106', '107', '108', '110', '113', '115', '118', '119', '121', '122', '125', '128', '129', '134', '137', '142']
	their counts:  [3, 5, 5, 6, 4, 1, 2, 2, 2, 3, 4, 2, 1, 4, 3, 6, 2, 6, 3, 1]
	fraction of normal: 0.8

	missing values: ['?']
	their counts:  [41]
	fraction of missing: 0.2

col: 5
	predicted type: string
	posterior probs:  [0. 1. 0. 0. 0. 0. 0. 0. 0.]
	types:  ['integer', 'string', 'float', 'boolean', 'gender', 'date-iso-8601', 'date-eu', 'date-non-std-subtype', 'date-non-std']

	some normal data values:  ['four', 'two']
	their counts:  [114, 89]
	fraction of normal: 0.99

	missing values: ['?']
	their counts:  [2]
	fraction of missing: 0.01

col: 18
	predicted type: float
	posterior probs:  [0. 0. 1. 0. 0. 0. 0. 0. 0.]
	types:  ['integer', 'string', 'float', 'boolean', 'gender', 'date-iso-8601', 'date-eu', 'date-non-std-subtype', 'date-non-std']

	some normal data values:  ['2.54', '2.68', '2.91', '2.92', '2.97', '2.99', '3.01', '3.03', '3.05', '3.08', '3.13', '3.15', '3.17', '3.19', '3.24', '3.27', '3.31', '3.33', '3.34', '3.35']
	their counts:  [1, 1, 7, 1, 12, 1, 5, 12, 6, 1, 2, 15, 3, 20, 2, 7, 8, 2, 1, 4]
	fraction of normal: 0.98

	missing values: ['?']
	their counts:  [4]
	fraction of missing: 0.02

col: 19
	predicted type: float
	posterior probs:  [0. 0. 1. 0. 0. 0. 0. 0. 0.]
	types:  ['integer', 'string', 'float', 'boolean', 'gender', 'date-iso-8601', 'date-eu', 'date-non-std-subtype', 'date-non-std']

	some normal data values:  ['2.07', '2.19', '2.36', '2.64', '2.68', '2.76', '2.80', '2.87', '2.90', '3.03', '3.07', '3.08', '3.10', '3.11', '3.12', '3.15', '3.16', '3.19', '3.21', '3.23']
	their counts:  [1, 2, 1, 11, 2, 1, 2, 1, 3, 14, 6, 2, 2, 6, 1, 14, 1, 6, 1, 14]
	fraction of normal: 0.98

	missing values: ['?']
	their counts:  [4]
	fraction of missing: 0.02

col: 21
	predicted type: integer
	posterior probs:  [1.00000000e+00 0.00000000e+00 3.49354091e-51 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00]
	types:  ['integer', 'string', 'float', 'boolean', 'gender', 'date-iso-8601', 'date-eu', 'date-non-std-subtype', 'date-non-std']

	some normal data values:  ['100', '101', '102', '106', '110', '111', '112', '114', '115', '116', '120', '121', '123', '134', '135', '140', '142', '143', '145', '152']
	their counts:  [2, 6, 5, 1, 8, 4, 2, 6, 1, 9, 1, 3, 4, 1, 1, 1, 1, 1, 5, 3]
	fraction of normal: 0.99

	missing values: ['?']
	their counts:  [2]
	fraction of missing: 0.01

col: 22
	predicted type: integer
	posterior probs:  [1.00000000e+00 0.00000000e+00 8.93961265e-97 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00]
	types:  ['integer', 'string', 'float', 'boolean', 'gender', 'date-iso-8601', 'date-eu', 'date-non-std-subtype', 'date-non-std']

	some normal data values:  ['4150', '4200', '4250', '4350', '4400', '4500', '4650', '4750', '4800', '4900', '5000', '5100', '5200', '5250', '5300', '5400', '5500', '5600', '5750', '5800']
	their counts:  [5, 5, 3, 4, 3, 7, 1, 4, 36, 1, 27, 3, 23, 7, 1, 13, 37, 1, 1, 7]
	fraction of normal: 0.99

	missing values: ['?']
	their counts:  [2]
	fraction of missing: 0.01

col: 25
	predicted type: integer
	posterior probs:  [1.00000000e+000 0.00000000e+000 1.45025991e-107 0.00000000e+000
 0.00000000e+000 0.00000000e+000 0.00000000e+000 0.00000000e+000
 0.00000000e+000]
	types:  ['integer', 'string', 'float', 'boolean', 'gender', 'date-iso-8601', 'date-eu', 'date-non-std-subtype', 'date-non-std']

	some normal data values:  ['10198', '10245', '10295', '10345', '10595', '10698', '10795', '10898', '10945', '11048', '11199', '11245', '11248', '11259', '11549', '11595', '11694', '11845', '11850', '11900']
	their counts:  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
	fraction of normal: 0.98

	missing values: ['?']
	their counts:  [4]
	fraction of missing: 0.02

In [21]:
column_name = '0'
ptype.change_missing_data_annotations(column_name, ['-1'])
ptype.show_results(column_name)

col: 0
	predicted type: integer
	posterior probs:  [9.99999674e-01 0.00000000e+00 3.26244845e-07 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00]
	types:  ['integer', 'string', 'float', 'boolean', 'gender', 'date-iso-8601', 'date-eu', 'date-non-std-subtype', 'date-non-std']

	some normal data values:  ['-1', '-2', '0', '1', '2', '3']
	their counts:  [22, 3, 67, 54, 32, 27]
	fraction of normal: 1.0

### 2.d Merging Different Encodings of Missing Data

In [22]:
dataset_name = 'mass_6'
dataset_path = '../data/' + dataset_name + '.csv'
df =  pd.read_csv(dataset_path, sep=',', encoding='ISO-8859-1', dtype=str, keep_default_na=False, skipinitialspace=True)
print(df.shape)
df.head(2)

(3148, 23)

,Year,Org Name,Org Code,Spec Ed. Grad Rate - Grad Cohort #,Spec Ed. Grad Rate - Grad #,Spec Ed. Grad Rate - Grad %,Spec Ed. Dropout - Enr #,Spec Ed. Dropout - Drop #,Spec Ed. Dropout - Drop %,LRE Ages 6-21 - Students #,...,LRE Ages 3-5 - Full Incl #,LRE Ages 3-5 - Full Incl %,Cohort Completion Year,Substantial growth of knowledge & skills,Survey Period,Surv Meet Std #,Surv Meet Std %,Sch Yr Rev,# of Students Engaged,Dist Rate
0,2012,Abington,10000,27,17,63%,84,3,3.60%,295,...,1,5%,2012-13,-,Spring 2013,NA,NA,2010-11,8,100%
1,2013,Abington,10000,20,16,80%,70,2,2.90%,272,...,4,19%,2012-13,-,Spring 2013,11,73.20%,2010-11,8,100%

In [23]:
ptype.run_inference(_data_frame=df)

In [24]:
column_name = 'LREAges3-5-FullIncl#'
ptype.show_results([column_name,])

col: LREAges3-5-FullIncl#
	predicted type: integer
	posterior probs:  [1.00000000e+00 0.00000000e+00 1.66434002e-57 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00]
	types:  ['integer', 'string', 'float', 'boolean', 'gender', 'date-iso-8601', 'date-eu', 'date-non-std-subtype', 'date-non-std']

	some normal data values:  ['0', '1', '10', '108', '11', '110', '116', '12', '129', '13', '14', '147', '15', '158', '16', '17', '18', '19', '2', '20']
	their counts:  [78, 37, 8, 1, 12, 1, 1, 8, 1, 14, 8, 1, 8, 1, 14, 5, 7, 5, 26, 8]
	fraction of normal: 0.16

	missing values: ['', '-', 'N/A', 'NA']
	their counts:  [1565, 292, 751, 29]
	fraction of missing: 0.84

In [25]:
new_encoding = 'NA'
ptype.merge_missing_data(column_name, new_encoding)
ptype.show_results([column_name,])

col: LREAges3-5-FullIncl#
	predicted type: integer
	posterior probs:  [1.00000000e+00 0.00000000e+00 1.66434002e-57 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00]
	types:  ['integer', 'string', 'float', 'boolean', 'gender', 'date-iso-8601', 'date-eu', 'date-non-std-subtype', 'date-non-std']

	some normal data values:  ['0', '1', '10', '108', '11', '110', '116', '12', '129', '13', '14', '147', '15', '158', '16', '17', '18', '19', '2', '20']
	their counts:  [78, 37, 8, 1, 12, 1, 1, 8, 1, 14, 8, 1, 8, 1, 14, 5, 7, 5, 26, 8]
	fraction of normal: 0.16

	missing values: ['NA']
	their counts:  [2637]
	fraction of missing: 0.84