# Merge multiple missing data encodings

In [24]:
# Preamble to run notebook in context of source package.
# NBVAL_IGNORE_OUTPUT
import sys
sys.path.insert(0, '../')

In [25]:
from IPython.core.display import display, HTML

import matplotlib.pyplot as plt
%matplotlib inline
plt.rcdefaults()

from ptype.Ptype import Ptype
from ptype.utils import evaluate_types
import pandas as pd
import numpy as np
from utils import *

In [26]:
df = read_data("mass_6", header=0)

column = "LRE Ages 3-5 - Full Incl #"
df_subsample = subsample_df(df, column_to_sample_from=column, sample_num=20)
display(df_subsample)

unique_values, counts = np.unique(
    [str(v) for v in df_subsample[column].tolist()],
    return_counts=True,
)

     LRE Ages 3-5 - Full Incl #
3085
2398
2579
1776
3                            16
136                          38
700                           -
1578
1964
457                           -
1601
2088
1723
1363                        N/A
2919
1551                        N/A
630                           -
2515
2455
301                          11

In [27]:
ptype = Ptype()
schema = ptype.schema_fit(df_subsample)
schema.show()

                 LRE Ages 3-5 - Full Incl #
type                                integer
normal values                  [11, 16, 38]
missing values                   [, -, N/A]
anomalous values                         []

In [28]:
col = schema.cols[column]
col.get_missing_values()

['', '-', 'N/A']

In [29]:
new_encoding = 'NA'
for v in col.get_missing_values():
    col.series.replace(v, new_encoding, inplace=True)
col.series

3085    NA
2398    NA
2579    NA
1776    NA
3       16
136     38
700     NA
1578    NA
1964    NA
457     NA
1601    NA
2088    NA
1723    NA
1363    NA
2919    NA
1551    NA
630     NA
2515    NA
2455    NA
301     11
Name: LRE Ages 3-5 - Full Incl #, dtype: object

In [30]:
df_subsample[column] = col.series
schema = ptype.schema_fit(df_subsample) # run ptype again
schema.show()

                 LRE Ages 3-5 - Full Incl #
type                                integer
normal values                  [11, 16, 38]
missing values                         [NA]
anomalous values                         []